.feedback{
    padding: 0 calc(50vw - 600px);
    margin-bottom: 50px;
}

/* info */

.info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.statistic{
    display: flex;
    align-items: center;
    gap: 10px;
}


.info div:nth-child(3){
    /* width: 30%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic h1{
    font-size: 100px;
    font-weight: bolder;
}

.statistic h1:last-child{
    align-self: center;
    font-size: 29px;
    font-weight: bold;
  
}

.button {
    width: 48%;
    min-width: 120px;
    cursor: pointer;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 3, 3);
}


.button:hover {
    background-color: rgb(195, 9, 9);
}

.button:nth-child(2){
    background-color: rgb(255, 200, 3);
    color: black;
}

.button:nth-child(2):hover{
    background: none;
    border: 1px solid rgb(255, 200, 3);
}

@media(max-width: 1000px) {
    
    .statistic h1 {
            font-size: 80px;
            font-weight: bolder;
    }
    
    .statistic h1:last-child {
        align-self: center;
        font-size: 23px;
        font-weight: bold;

    }
}

@media(max-width:830px) {

    .statistic{
        display: none;
    }


}

@media(max-width: 560px){
    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        margin-bottom: 40px;
        gap: 20px;
    }

    .info div:nth-child(3){
        width: 100%;
    }
}