

.feedbackCard{
    /* background-color: aqua; */
    position: relative;
    cursor: pointer;
    color: #989898;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    padding: 25px;
    margin-bottom: 30px;
    opacity: 0;
    transform: translate(-150px);
    /* transform: scale(.8); */
    transition: color 0.3s ease, opacity .8s ease, transform .8s ease;
    will-change: transform;
    /* transition: ; */
    /* background-color:aqua; */
}

.feedbackCard:hover{
    color: black;
    
}

/* if card inner WINDOW */

.active{ 
    opacity: 1;
    /* transform: scale(1); */
    transform: translateY(0px);
}

.feedbackCard__inner{ 
    display: flex;
    gap: 15px;
    color: #989898;
    font-size: 14px;
    
}

.feedbackCard__inner a{
    color: #989898;
    text-decoration: underline;
}

.product{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5;
}

.name{
    font-size: 14px;
}

.feedbackCard__inner img{
    width: 15px;
    height: 15px;
}

.enter{
}

.shadow{
    position: absolute;
    top: calc(100% - 35px);
    width: 100%;
    height: 40px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.263));
}

@media(max-width: 1000px) {

    .feedbackCard{
        padding: 10px;
      
    }
}

@media(max-width: 900px){
   
}
